<a href="https://colab.research.google.com/github/DaryaNovosadova/Python_for_analysts/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Задача 2
**На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.**

В первом варианте у нас уже есть список фруктов, который мы выводим и общее кол-во фруктов.

Во вротом сообщаем фрукты и их кол-во и выводим их общее кол-во.

In [17]:
fruits = {'apples' : 10, 'pears' : 7, 'bananas' : 3}

def SumFruits(fruits):
    TotalFruits = sum(fruits.values())
    return f'Total fruits: {TotalFruits}'

print(fruits)
print(SumFruits(fruits))

{'apples': 10, 'pears': 7, 'bananas': 3}
Total fruits: 20

In [21]:
def SumFruits(**kwargs):
    TotalFruits = sum(kwargs.values())
    return f'Total fruits: {TotalFruits}'

print(SumFruits(apples = 10, pears = 7, bananas = 3))

Total fruits: 20

##Задача 3
**Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]**

*Используйте list comprehensions*

In [31]:
Expenses= [100, 125, -90, 345, 655, -1, 0, 200]
TotalCosts = [i if i > 0 else 0 for i in Expenses]

print(f'Total costs: {TotalCosts}')
print(f'Cost amount: {sum([i for i in TotalCosts])}')

Total costs: [100, 125, 0, 345, 655, 0, 0, 200]
Cost amount: 1425

##Задача 4
**Даны два списка.**

**Дата покупки**
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

**Суммы покупок по датам**
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [32]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
        '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
        '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
        
purchaseAmount = [1270, 8413, 9028, 3703, 5739, 
                  4095, 295, 4944, 5723, 3701, 
                  4471, 651, 7037, 4274, 6275, 
                  4988, 6930, 2971, 6592, 2004, 
                  2822, 519, 3406, 2732, 5015, 
                  2008, 316, 6333, 5700, 2887]

###Задача 4.1

**Найдите, какая выручка у компании в ноябре**

*Используйте list comprehensions*

In [37]:
def ProfitNovember(data1: list, data2: list) -> list:
    profitNov = []
    for i in range(len(data1)):
        if '-11-' in data1[i]:
            profitNov.append(data2[i])
    return profitNov

print(f'Profit november: {ProfitNovember(date, purchaseAmount)}')
print(f'Amount of profit: {sum(ProfitNovember(date, purchaseAmount))}')

Profit november: [4944, 3701, 7037, 4274, 2004, 2822, 316]
Amount of profit: 25098

###Задача 4.2

**Найдите выручку компании в зависимости от месяца.**

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

*Используйте аннотирование типов.*

In [43]:
def ProfitsMonths(data1: list, data2: list) -> dict:
    profit = {}
    for i in range(len(data1)): 
        if date[i].split('-')[1] in profit.keys():
            profit[date[i].split('-')[1]] += purchaseAmount[i]
        else:
            profit[date[i].split('-')[1]] = purchaseAmount[i]          
    return profit

print(f'arrive by months: {ProfitsMonths(date, purchaseAmount)}')

arrive by months: {'09': 25647, '12': 45452, '10': 28645, '11': 25098}